@use 'colors' as *;
@use 'typography' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: $ff-primary;
  font-weight: $fw-normal;
}

h1,
h2 {
  color: $primary-color;
  font-weight: $fw-bold;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}