$ff-primary: 'Work Sans', sans-serif;
//mobile
$fs-text-m: 1.4rem;
$fs-sub-title-m: 1.6rem;
$fs-main-title-m: 3.2rem;
// Desktop
$fs-text-d: 1.6rem;
$fs-sub-title-d: 1.8rem;
$fs-main-title-d: 5.6rem;

$fw-normal: 400;
$fw-semi-bold: 600;
$fw-bold: 700;